body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
}
body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #343a40 ;
    color: #212529 ;
    display: flex;
    flex-direction: column;
    height: 100%;
}

a:link{
    text-decoration: none;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #343a40 ;
    text-align: center;
    padding: 40px 0;
    color: #f8f9fa ;
}

header h1 {
    font-size: 36px;
}

header p {
    font-size: 18px;
}

section {
    padding: 40px 0;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
    border-bottom: 1px solid #f8f9fa ;
    padding-bottom: 10px;
}

.project {
    font-size: 18px;
}

.project img {
    max-width: 100%;
}

.content{
    background-color: #f8f9fa;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 70px;
}

.buttons{
    display: flex;
    flex-direction: row;
}

footer {
    background-color: #343a40;
    text-align: center;
    padding: 7px 0;
    bottom: 0;
    width: 100%;
    color: #f8f9fa;
    margin-top: auto;
}

.tree-menu ul {
    list-style: none;
    padding: 0;
}

.tree-menu ul li {
    position: relative;
    padding-left: 20px;
    margin-left: 20px;
    font-size: 25px;
    font-weight: bold;
}

.tree-menu ul li ul li{
    font-size: 18px;
    font-weight: normal;
}

.tree-menu ul li::before {
    content: '';
    position: absolute;
    top: 6px;
    left: 0;
    width: 10px;
    border-left: 1px solid #333;
    border-top: 1px solid #333;
    height: 100%;
}
.tree-menu ul li:last-child::before {
    height: 6px;
}

.tree-menu ul li > ul {
    display: block;
}

.retro{
    display: inline-block;
    vertical-align: middle;
    user-select: none;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    background: #fbf71b;
    color: #212529;
    font-size: 12px;
    font-family: 'Cascadia Code', Courier, monospace;
    font-weight: bold;
    text-align: left;
    border: 3px solid black!important;
    border-radius: 0;
    box-shadow: 3px 3px black, 5px 5px #fbf71b;
    padding-right: 5%;
    margin-top: 20px;
    margin-left: 10px;
}

.retro:hover{
    color: #fbf71b;
    background: #343a40;
    cursor: pointer;
}

.retro:active{
    background-color: #fbf70f!important;
    color: black!important;
    box-shadow: 0px 0px #fbf70f;
    transform: translateX(5px) translateY(2px); 
}

.rbtn-small{
    box-shadow: 2px 2px black, 4px 4px #f8f9fa;
    padding:5px;
    width: fit-content;
}
h3, span:hover {
    cursor: pointer;
}
a{
    color:#212529;
}